* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  background-color: gray;
  font-family: 'Montserrat', sans-serif;
}

header {
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.color-card-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.color-card {
  border: 1px solid white;
  background-image:url('./assets/lock.svg');
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  height: 200px;
  width: 200px;
  margin: 20px 10px;
  text-align: center;
}

.generate-new-btn {
  display: block;
  margin: 0 auto;
  width: 25%;
  border: 1px solid white;
  color: white;
  font-size: 24px;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.palette-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 35%;
  margin: 0 auto;
}

select {
  margin: 10px;
}

.row-2 {
  margin-left: 130px;
}
